<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzu49Wvspt5udDTSAwYTG5Ef7mUmLa1sA</string>
	<key>GCM_SENDER_ID</key>
	<string>170559591123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.randstaddig.app</string>
	<key>PROJECT_ID</key>
	<string>c215-6503137202</string>
	<key>STORAGE_BUCKET</key>
	<string>c215-6503137202.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170559591123:ios:0d3782894e4eafe6e13a26</string>
</dict>
</plist>